.App {
    text-align: center;
    display: flex;
}

#Board {
    width: 100%
}

.Row {
    display: table;
    width: 100%
}

.Row>button {
    width: 20%;
    height: 50px;

}

.Red {
    background-color: red;
}

.Blue {
    background-color: blue;
    color: white
}

.Assassin {
    background-color: black;
    color: white;
}

.Decoy {
    background-color: gray;
}

.row {
    display: flex;
}

.column {
    flex: 33.3%;
    text-align: center;
}

#select-container {
    text-align: center;
}

.select div {
    width: 33.3%;
}

.select .blue {
    margin: 0 66.7% 0 0
}

.select .unsorted {
    margin: 0 auto
}

.select .red {
    margin: 0 0 0 66.7%;
}

#message { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
#m { border: 0; padding: 10px 0; width: 90%; margin-right: .5%; }
#message button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px 0; }
#chatroom { list-style-type: none; margin: 0; padding: 0;}
#chatroom li { padding: 5px 10px; }
#chatroom .own { text-align: right}
#chatroom li:nth-child(odd) { background: #eee; }